Package: ca.bomberfish.SwiftTop.RootHelper
Name: RootHelper
Version: 0.0.1
Architecture: iphoneos-arm
Description: SwiftTop Priviledged Helper
Maintainer: BomberFish Industries
Author: BomberFish
Section: System
Tag: role::hacker
Depends: firmware (>= 12.2) | ${LIBSWIFT}
